<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
<link rel="icon" href="/favicon.png" />
<link rel="stylesheet" href="/tachyons-4.10.0.min.css" />
<meta name="author" content="Brian Mock" />
<meta name="description" content="{{ .Description }}" />
<meta name="og:description" content="{{ .Description }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@wavebeem" />
<meta name="twitter:creator" content="@wavebeem" />
<meta name="og:title" content="{{ .Title }}" />
<meta name="og:image" content="https://pdxkbc.netlify.com/logo.png" />
<style>
  pdxkbc-next-meetup {
    display: block;
  }
</style>
<title>{{ .Title }}</title>
