:root {
  --color-logo-bg: hsl(240, 67%, 94%);
  --color-main-bg: hsl(240, 67%, 94%);
  --color-main-fg: hsl(240, 64%, 27%);
  --color-link: hsl(240, 100%, 50%);
  --color-link-hover: hsl(240, 100%, 27%);
  --color-accent-bg: hsl(240, 64%, 27%);
  --color-accent-fg: hsl(240, 67%, 94%);
  --color-accent-link: hsl(0, 0%, 100%);
  --color-scroll-bg: hsl(240, 50%, 90%);
  --color-scroll-fg: hsl(240, 40%, 60%);
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next",
    "Helvetica Neue", Roboto, Noto, "Segoe UI", Ubuntu, sans-serif;
  background: var(--color-main-bg);
  color: var(--color-main-fg);
  scrollbar-color: var(--color-scroll-fg) var(--color-scroll-bg);
  line-height: 1.5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-logo-bg: hsl(240, 67%, 94%);
    --color-main-bg: hsl(240, 50%, 25%);
    --color-main-fg: hsl(240, 60%, 85%);
    --color-link: hsl(240, 50%, 95%);
    --color-link-hover: hsl(240, 90%, 80%);
    --color-accent-bg: hsl(240, 50%, 20%);
    --color-accent-fg: hsl(240, 60%, 90%);
    --color-accent-link: hsl(240, 50%, 95%);
    --color-scroll-bg: hsl(240, 50%, 15%);
    --color-scroll-fg: hsl(240, 40%, 60%);
  }
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: scroll;
}

hr {
  border: 0;
  border-top: 2px solid var(--color-main-fg);
}

.content,
main {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  flex: auto;
}

:any-link {
  color: var(--color-link);
}

:any-link:hover {
  color: var(--color-link-hover);
  text-decoration: underline;
}

h1,
h2 {
  line-height: 1.15;
}

header {
  background: var(--color-accent-bg);
  color: var(--color-accent-fg);
  padding: 1rem 0;
  margin: 0;
}

nav {
  display: flex;
  flex-direction: column;
}

nav > * + * {
  margin: 0;
  margin-top: 1rem;
}

a {
  border-radius: 4px;
}

header .content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

header :any-link {
  text-decoration: none;
}

footer :any-link,
header :any-link {
  color: inherit;
  font-weight: bold;
}

footer :any-link:hover,
header :any-link:hover {
  color: var(--color-accent-link);
}

ul {
  padding-left: 1.5rem;
}

dd {
  margin-left: 0;
}

dd + dt {
  margin-top: 1.5rem;
}

footer {
  text-align: center;
  padding: 1rem;
  background: var(--color-accent-bg);
  color: var(--color-accent-fg);
}

.logo {
  background: var(--color-logo-bg);
  box-sizing: content-box;
  padding: 3px;
  border-radius: 2px;
}

.gallery {
  display: grid;
  grid-gap: 2rem;
  margin: 2rem 0;
}

figure {
  margin: 1rem 0;
}

figure img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

pre {
  background: var(--color-main-fg);
  color: var(--color-main-bg);
  border-radius: 8px;
  padding: 1rem;
  white-space: pre-wrap;
  font-size: 1rem;
  word-break: break-all;
}

code {
  font-size: 0.9em;
}

:focus {
  outline: 2px solid;
  outline-offset: 2px;
}

.keymap {
  border: 2px solid;
  box-shadow: 0 2px 0 0 currentColor;
  border-radius: 4px;
}

.keymap th,
.keymap td {
  border: 2px solid;
  padding: 0.5rem;
  border-radius: 2px;
}

.keymap code {
  font-size: 0.95rem;
  word-break: break-all;
}

@media (min-width: 600px) {
  body {
    font-size: 1.25rem;
  }

  nav {
    flex-direction: row;
  }

  nav > * + * {
    margin: 0;
    margin-left: 1rem;
  }

  .keymap code {
    font-size: 1rem;
    word-break: break-all;
  }
}
